body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: url('../assets/images/background.png') no-repeat center center fixed;
    background-size: cover;
  }
  
  .App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .container {
    max-width: 800px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    animation: fadeIn 2s ease-in-out;
  }
  
  .letter {
    text-align: center;
    animation: slideIn 1s ease-out;
  }
  
  .animated-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .animated-images img {
    width: 100px;
    height: auto;
    margin: 10px;
    animation: float 3s ease-in-out infinite;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideIn {
    from {
      transform: translateY(50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @media (max-width: 600px) {
    .container {
      padding: 10px;
    }
  
    .animated-images img {
      width: 80px;
    }
  }
  